/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.content-wrapper {
  width: 100%;
}

/**** MOBILE STYLING ****/

  /**** HEADER SECTION ****/

      header {
        background: linear-gradient(to bottom right, #0f121f, #4f60ab, #0f121f);
        color: white;
        font-family: 'Instrument Sans';
        padding: 20px;
        text-align: center;
      }

      header img {
        background: linear-gradient(to bottom, #edb18e, #e2ca9e); 
        border: 1px solid black; 
        border-radius: 7px;
        margin-bottom: 20px;
        width: 100%;
      }

      .menu-toggle {
        background-color: #2c7cf4;
        border: none; 
        border-radius: 8px;
        color: white;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
      }

      .menu-toggle:focus {
        outline: none;
      }

      .nav-bar {
        align-items: center;
        border-radius: 10px;
        color: #00303F;
        position: relative;
      }

      .nav-bar ul {
        background-color: #f3e3b5;
        display: none;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .nav-bar ul.active {
        display: flex;
      }

      .nav-bar ul li{ 
        border-bottom: 1px solid #555;
        padding: 10px;
      }

      .nav-bar ul li a {
        color: #003;
        display: block;
        text-decoration: none;
      }

    /**** SKILLS AND TOOLS SECTION ****/

      .fade-in {
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }

      .fade-in.visible {
        opacity: 1;
      }

      .skills {
        text-align: center;
      }

      .skills-and-tools {
        font-weight: bold;
      }

      .skills-and-tools span {
        text-decoration: underline;
      }

      .skills-and-tools-section {
        background: #d2d2d2;
        font-family: 'Instrument Sans';
        padding: 20px;
      }

      .skills h2 {
        text-decoration: underline;
      }

      .skills li {
        background-color: rgb(32, 35, 89);
        border: 2px solid #3ece42;
        border-radius: 20px;
        color: white;
        list-style: none;
        margin: 10px;
        padding: 8px;
      }

      .skills-list {
        text-align: center;
      }

      .skills ul {
        padding: 10px;
      }

      .tools {
        text-align: center;
      }

      .tools h2 {
        text-decoration: underline;
      }

      .tools li {
        background-color: rgb(32, 35, 89);
        border: 2px solid #3ece42;
        border-radius: 20px;
        color: white;
        list-style: none;
        margin: 10px;
        padding: 8px;
      }

      .tools ul {
        padding: 10px;
      }

    /**** PROJECTS SECTION ****/

      .project-name {
        text-decoration: underline;
      }

      .project-piece {
        padding: 15px;
      }
      
      .project-piece img {
        border: 5px solid black;
        border-radius: 20px;;
        width: 55%;
      }

      .projects {
        background: linear-gradient(to bottom right, #172357, #ab834f, #172357);
        color: white;
        font-family: 'Instrument Sans';
        padding: 20px;
        text-align: center;
      }

      .projects a {
        color: white;
      }

      .projects h2 {
        text-decoration: underline;
      }

    /**** ABOUT SECTION ****/

      .about {
        background: #d2d2d2;
        font-family: 'Instrument Sans';
        padding: 20px;
        text-align: center;
      }

      .about h2 {
        text-decoration: underline;
      }

      .about img {
        border: 2px solid rgb(9, 72, 2);
        border-radius: 50%;
        width: 50%;
      }

      .meet {
        font-style: italic;
      }

    /**** FOOTER SECTION ****/

      .contact {
        background: linear-gradient(to bottom right, #172357, #4f60ab, #172357);
        color: white;
        font-family: 'Instrument Sans';
        padding: 20px;
        text-align: center;
      }

      .contact a {
        color: white;
      }

      .contact h2 {
        text-decoration: underline;
      }

      .contact h4 {
        text-decoration: underline;
      }

      .copyright {
        margin-top: 50px;
        font-size: 0.5em;
      }

      .icon {
        padding: 10px;
      }

      .site-source {
        font-size: 0.3em;
      }

/**** TABLET STYLING ****/

  @media (min-width: 768px) {

    /**** HEADER SECTION ****/

      header img {
        width: 50%;
      }

    /**** SKILLS AND TOOLS SECTION ****/

      .skills-and-tools-section {
        display: flex;
        justify-content: space-between;
      }

      .skills {
        margin-right: 40px;
        width: 50%;
      }

      .skills, .tools {
        display: flex; 
        flex: 1;
        flex-direction: column;
        margin-right: 20px;
      }
      
      .skills-list, .tools-list {
        display: flex;
        flex-direction: column;
      }

      .tools {
        width: 50%;
      }
    


    /**** PROJECTS SECTION ****/

    .project-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .project-piece {
      align-items: center;
      border-top: 2px solid rgba(0, 0, 0, 0.126);
      display: flex;
      flex-direction: column;
      margin: 20px 0;
    }

    .project-piece img {
      width: 80%;
    }

    .project-text {
      text-align: left;
      width: 50%;
    }

    /**** ABOUT SECTION ****/

      .about {
        padding: 20px;
      }

     .about-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
      } 

      .about img {
        float: left;
        width: 48%;
      }

      .about-text {
        text-align: left;
        width: 50%;
      }

    /**** FOOTER SECTION ****/

      .call {
        padding: 40px;
      }

      .contact {
        align-items: center;
        display: flex;
        flex-direction: column;
      }

      .contact img {
        padding: 20px;
      }

      .contact-info {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }

      .socials {
        padding: 40px;
      }

      .walk {
        padding: 40px;
      }


  }


/**** DESKTOP STYLING ****/

@media (min-width: 1200px) {

  /**** HEADER SECTION ****/

  header img {
    display: none;
    margin: 0 auto;
    width: 30%;
  }

  .header-photo {
    margin-top: 100px;
    text-align: center;
  }

  .menu-toggle {
    display: none;
  }

  .nav-bar {
    background-color: #f3e4b5;
    left: 50%;
    margin-top: 10px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 50%;
  }

  .nav-bar ul {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .nav-bar ul li {
    border-bottom: none;
  }

  .nav-bar ul li a {
    padding-bottom: 2px;
    position: relative;
    text-decoration: none;
  }

  .nav-bar ul li a::after {
    background-color: black;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }
  
  .nav-bar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .titles {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }

  .top-bar {
    margin-bottom: 200px;
    position: fixed;
    width: 100%;
  }

  /**** SKILLS AND TOOLS SECTION ****/

  .skills-list li {
    transition: transform 0.3s ease-in-out;
  }

  .skills-list li:hover {
    transform: scale(1.1);
  }

  .tools-list li {
    transition: transform 0.3s ease-in-out;
  }

  .tools-list li:hover {
    transform: scale(1.1);
  }

  /**** PROJECTS SECTION ****/

  .project-name {
    font-size: 1.5em;
  }

  .project-piece img {
    margin-left: 20%;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }

  .project-piece img:hover {
    transform: scale(1.1);
  }

  .project-text {
    font-size: 1.3em;
  }

  /**** ABOUT SECTION ****/

  .about img {
    margin-left: 10%; 
    width: 30%;
  }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

