/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior:smooth
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


    /**** MOBILE STYLING ****/


 header, #work, #skill-set, #about-me, footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  }

 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
 }

 
 /**** MOBILE HEADER SECTION ****/

 .content-wrapper { 
  width: 85%;
 }

 header {
  background-image: linear-gradient(110deg, rgba(181,193,178,1) 23%, rgb(79, 134, 67) 78%);
  padding-top: 30px;
  padding-bottom: 60px;
 }

 header a {
  color: black;
  cursor: pointer;
  text-decoration: none;
 }

header h1 {
  font-family: 'Petit Formal Script';
  font-size: 2.5em;
 }

 header h2 {
  font-family: 'Cinzel';
  font-weight: bold;
  font-size: 2em;
 }

 header h3 {
  font-family: 'Cinzel';
  padding-bottom: 20px;
 }

 header h4 {
  font-family: 'Philosopher';
  font-weight: bold;
  padding-left: 10%;
  text-align: center;
  width: 80%;
 }

 #header-photo {
  box-shadow: 0px 0px 10px 10px #579846;
  width: 60%;
 }


 nav {
  margin-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

 nav ul {
  display: flex;
  font-family: 'Cinzel';
  font-size: 0.75em;
  justify-content: space-between;
  list-style: none;
  margin: 12px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
 }


 
 


 /**** MOBILE WORK SECTION ****/

 
 .project-description {
   text-align: left;
  }
  
  .project-img {
    padding-bottom: 20px;
    vertical-align: middle;
    width: 100%;
  }
  
  .project-link {
   background-color: #e3e7a0;
   border: 3px solid black;
   border-radius: 50%;
   margin: 30px;
   padding: 0.75rem 3.75rem;
  }
  
  .project-piece {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
  }

  .project-wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  }

  .project {
  font-size: 1.2rem;
  padding-bottom: 20px;
  text-decoration: underline;
  }
 
  #proud { 
  font-family: 'Philosopher';
  font-size: 1.4rem;
  font-style: italic;
  padding-bottom: 20px;
  }

  .skill-span {
  font-family: 'Cinzel';
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  }
  
  .spans {
    align-items: center;
    display: flex;
    text-align: center;
    width: 50%;
  }


  .tool-span {
    font-family: 'Cinzel';
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }

  #work {
    background-color: #d6dbc4;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #work a {
    color: black;
    font-family: 'Cinzel';
    text-decoration: none;
    text-transform: uppercase;
  }


  #work h2 {
    font-family: 'Cinzel';
    font-size: 1.8rem;
    width: 100%;
  }

  #work p {
    padding-bottom: 5px;
    padding-top: 2px;
    text-align: left;
    width: 100%;
  }


  #work, #skill-set {
    width: 100%;
  }
 




 
 
 /**** MOBILE SKILLS SECTION ****/
 

 .skill {
  background-color: #e3e7a0;
  border: 1px solid black;
  border-radius: 25px;
  font-family: 'Cinzel';
  font-weight: bold;
  margin: 40px 40px;
  padding: 15px 0;
  width: 80%;
 }
 
 #skill-set {
   background-color: #e7f1dc;
   padding-top: 60px;
   padding-bottom: 60px;
   text-align: center;
  }
  
  #skill-set h2 {
   font-family: 'Cinzel';
   font-size: 1.8rem;
  }

  #skill-set h3 {
   font-family: 'Philosopher';
   font-style: italic;
  }

  .skill-set-list {
   text-align: center;
   width: 100%;
  }
  



 /**** MOBILE ABOUT SECTION ****/ 

 .about-content-wrapper {
  width: 85%;
 }

 #about-me {
  background-color: antiquewhite;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
 }

 #about-me h2 {
  font-family: 'Cinzel';
  }

 #about-me h3 {
  font-family: 'Philosopher';
 }

 #about-picture {
    box-shadow: 0px 0px 10px 10px rgb(218, 192, 158);
    width: 100%;
 }

 #about-me p {
  text-align: left;
 }


 
 
 /**** MOBILE FOOTER SECTION ****/
 
  .contact-info {
    margin: 0 0 60px 0;
    width: 60%;
  }

  .copyright {
    font-family: 'Philosopher';
    font-size: 0.5em;
    padding-top: 70px;
  }
  
  .follow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 60px 0;
    width: 60%;
  }

  footer {
    background: linear-gradient(235deg, rgba(184,200,180,1) 23%, rgba(79, 134, 67) 78%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 80px 0;
    text-align: center;
    width: 100%;
  }

  footer a {
    color: black;
  }

  .footer-content-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  #footer-header {
    font-size: 1.9em;
    padding-bottom: 30px;
  }

  footer h4 {
    font-family: 'Cinzel';
  }
  
  footer h5 {
    font-family: 'Philosopher';
    font-size: 1.3em;
    text-decoration: underline;
    width: 100%;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 100%;
  }


 

@media only screen and (min-width: 768px) {


  /**** TABLET HEADER SECTION ****/

  header, #work, #skill-set, #about-me, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
  }

  header {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  header h1 {
    font-size: 4rem;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
  
  header h2 {
    font-size: 3.5rem;
  }
  
  header h3 {
    font-size: 2.5rem;
    padding-bottom: 40px;
  }
  
  header h4 {
    font-size: 2rem;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem
  }
  
  /**** TABLET PROJECTS SECTION ****/
  
  .project-link {
    border-radius: 50%;
    padding: 40px;
    width: 50%;
  }
  
  .project-piece {
    align-items: center;
    margin: 0;
    width: 40%;
  }

  .project-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 100%;
  }

  .skill-span {
    text-align: center;
    text-decoration: underline;
  }

  .spans {
    align-items: stretch;
    display: flex; 
    flex-flow: row wrap;
    font-size: 1.1rem;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
  }


  .tool-span {
    text-decoration: underline;
  }

  #work img {
    width: 90%;
  }

  #work h2 {
    font-size: 2.5rem;
    width: 100%;
  }

  #work h3 {
    font-size: 2rem;
  }

  #work p {
    font-size: 1.3rem;
    width: 100%;
  }



  

  /**** TABLET SKILLS SECTION ****/

  .skill {
    font-size: 1.125rem;
    margin: 20px 0;
    padding: 15px 0;
    width: 45%;
  }
  
  #skill-set {
    text-align: center;
  }
  
  #skill-set h2 {
    font-size: 2.5rem;
  }

  #skill-set h3 {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .skill-set-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
  }




  /**** TABLET ABOUT SECTION ****/

  #about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 80px 0;
    text-align: center;
    width: 100%;
  }

  .about-content-wrapper {
    max-width: 900px;
    width: 85%;
  }

  #about-me h2 {
    font-size: 2.5rem;
  }
  
  #about-me h3 {
    font-size: 2rem;
  }


  
  #about p {
    font-size: 1.3rem;
  }

  #about-picture {
    width: 60%;
  }


  /**** TABLET FOOTER SECTION ****/

  .contact-info {
   margin: 80px 0 80px 0;
   width: 33%;
  }

  .contact-options {
   width: 100%;
  }
  
  .follow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 80px 0 80px 0;
    width: 33%;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 140px 0 140px 0;
    text-align: center;
    width: 100%;
  }

  .footer-content-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  #footer-header {
    margin-bottom: 60px;
  }

  .icons {
    width: 80%;
  }

}

  /**** DESKTOP STYLES ****/

  @media only screen and (min-width: 1200px) {

    a:hover {
      transform: scale(0.75);
      transition: 1s; 
    }

    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
      margin: 0%;
    }
    
    /**** DESKTOP HEADER SECTION ****/
    
    .content-wrapper {
      align-items: center;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 1450px;
      text-align: center;
      width: 85%;
    }

    header {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-top: 80px;
      padding-bottom: 80px;
      text-align: center;
      width: 100%;
    }

    #header-h1 {
      font-family: 'Petit Formal Script';
      font-size: 4rem;
      text-align: left;
      width: 100%;
    }

    #header-h2 {
      font-family: 'Cinzel';
      font-size: 3rem;
    }

    #header-h3 {
      font-family: 'Cinzel';
      font-size: 2rem;
    }

    #header-h4 {
      font-family: 'Philosopher';
      font-size: 1.5rem;
      padding: 0;
      text-align: left;
    }

    .header-list {
      display: flex;
      font-family: 'Cinzel';
      font-size: 1rem;
      justify-content: space-around;
      list-style: none;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }

    header nav {
      margin-bottom: 90px;
    }

    #header-photo {
      margin: 20px 0 40px 0;
      object-fit: cover;
      width: 100%;
    }

    .header-title { 
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 100%;
      text-align: left;
    }

    nav ul li:hover {
      transform: scale(1.2);
      transition: transform 0.5s;
    }

    .welcome-text {
      width: 50%;
    }






    /**** DESKTOP WORK SECTION ****/
    
    .project-piece {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .project-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
    }
    
    #work {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-top: 80px;
      text-align: center;
      width: 100%;
    }

    /**** DESKTOP ABOUT SECTION ****/ 

    #about {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
    }

    .about-content-wrapper {
      max-width: 1450px;
      width: 85%;
    }

    #about-me {
      width: 100%;
    }

    #about-picture {
      margin: 20px 0 40px 0;
      object-fit: cover;
      width: 35%;
    }

    .about-wrapper {
      width: 58%;
      text-align: left;
    }


    /**** DESKTOP FOOTER SECTION ****/

    .contact-info {
      margin: 80px 0 80px 0;
      width: 33%;
    }

    .icons {
      width: 50%;
    }

    .follow {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 80px 0 80px 0;
      width: 33%;
    }

    footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 140px 0 140px 0;
      text-align: center;
      width: 100%;
    }

    .footer-content-wrapper {
      align-items: flex-start;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    #footer-header {
      margin-bottom: 60px;
    }



  }
  



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

